In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("/content/drive/MyDrive/datasets/Gapminder.csv", error_bad_lines=False, sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
#visualizando as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [10]:
df = df.rename(columns={"country":"Pais", "continent":"continente","year":"Ano","lifeExp":"Expectativa de vida", "pop":"Pop total","gdpPercap":"PIB"})

In [12]:
df.head(10)

          Pais continente   Ano  Expectativa de vida  Pop total         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106
5  Afghanistan       Asia  1977               38.438   14880372  786.113360
6  Afghanistan       Asia  1982               39.854   12881816  978.011439
7  Afghanistan       Asia  1987               40.822   13867957  852.395945
8  Afghanistan       Asia  1992               41.674   16317921  649.341395
9  Afghanistan       Asia  1997               41.763   22227415  635.341351

In [13]:
#total de linhas e colunas
df.shape

(3312, 6)

In [14]:
df.columns

Index(['Pais', 'continente', 'Ano', 'Expectativa de vida', 'Pop total', 'PIB'], dtype='object')

In [15]:
df.dtypes

Pais                    object
continente              object
Ano                      int64
Expectativa de vida    float64
Pop total                int64
PIB                    float64
dtype: object

In [17]:
df.describe()

               Ano  Expectativa de vida     Pop total            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165876
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [18]:
df["continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [19]:
Oceania = df.loc[df["continente"]== "Oceania"]
Oceania.head()

     Pais continente   Ano  Expectativa de vida  Pop total          PIB
975  Fiji    Oceania  1962               56.494     421869  2039.393277
976  Fiji    Oceania  1967               58.607     485000  2170.073285
977  Fiji    Oceania  1972               60.642     544000  2797.759484
978  Fiji    Oceania  1977               62.669     599339  3182.569600
979  Fiji    Oceania  1982               64.683     658906  3209.257468

In [20]:
df.groupby("continente")["Pais"].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64